.hidden-form{
  display: none;
}
.dialog{
  border:5px solid #666;
  padding:10px;
  background:#3A3A3A;
  position:absolute;
  display:none;
  z-index: 999999;
}
.dialog.is-visible{
  display: block;
}
.dialog label{
  display:inline-block;
  color:#cecece;
}
.dialog input[type=text]{
  border:1px solid #333;
  display:inline-block;
  margin:5px;
}
#btnOK{
  border:1px solid #000;
  background:#ff9999;
  margin:5px;
}

#btnOK:hover{
  border:1px solid #000;
  background:#ffacac;
}
.menu-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition: all 0.15s ease-out 0s;
  background: #262626;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;
}
.menu-screen.is-visible {
  opacity: .4;
  visibility: visible;
}
.rwd-table a:link, .rwd-table a:visited, .rwd-table a:hover, .rwd-table a:active{
  margin-left: 5px;
  color: #DA81F5;
}
