{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
  <div class="login-form">
    <h1>添加用户</h1>
    <form action="{{ url_for('add_user') }}" method="post">
      <dl>
        <dd><input type="text" name="wx_id" value="微信号" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '微信号';}" >
        <dd><input type="text" name="name" value="姓名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '姓名';}">
        <dd><input type="submit" value="添加">
      </dl>
    </form>
  </div>
{% endblock %}
