{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class="error"><strong>错误：</strong> {{ error }}{% endif %}
  <div class="login-form">
    <h1>添加用户</h1>
    <form action="{{ url_for('add_user') }}" method="post">
      <dl>
        <dd><input type="text" name="name" value="姓名" autocomplete="off" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '姓名';}">
        <dd><input type="text" name="phone_number" value="手机号" autocomplete="off" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '手机号';}">
        <dd><input type="submit" value="添加">
        <a href="{{ url_for('show_users') }}">返回</a>
      </dl>
    </form>
  </div>
{% endblock %}
