{% extends "layout.html" %}
{% block body %}
  <div class="table-title">
    <a href="{{ url_for('show_users') }}">客户信息列表</a>
  </div>
  <div align="right" class="find-users">
    <button type="button">查找</button>
    <input type="text" autocomplete="off"/>
  </div>
  <table class="rwd-table">
    <thead>
      <tr>
        <th class="narrow-space">姓名</th>
        <th class="narrow-space">手机号</th>
        <th class="narrow-space">转发优惠</th>
        <th class="narrow-space">积分</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      {% for user in users %}
      <tr>
        <td class="narrow-space">{{ user[0].decode('utf-8') }}
          <a href="#" class="update-name">修改</a>
        </td>
        <td class="narrow-space">{{ user[3].decode('utf-8') }}
          <a href="#" class="update-phone-number">修改</a>
        </td>
        <td class="narrow-space">{{ '已用' if user[1]==0 else '可用' }}
          {% if user[1] ==1 %}
          <a href="#" class="toggle-wx-discount">使用</a>
          {% endif %}
        </td>
        <td class="narrow-space">{{ user[2] }}<a href="#" class="update-credit">增加</a><a href="#" class="update-credit">减少</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="hidden-form">
    <form method="post"><input type='text' name="wx_discount"></form>
  </div>
  <div class="dialog" id="update-credit-form">
    <form method="post">
    <input type="submit" value="确定">
    <input type="text" name="delt_credit" autocomplete="off">
    <input type="hidden" name="is_positive">
    </form>
  </div>
  <div class="dialog" id="update-name-form">
    <form method="post">
    <input type="submit" value="确定">
    <input type="text" name="name" autocomplete="off">
    </form>
  </div>
  <div class="dialog" id="update-phone-number-form">
    <form method="post">
    <input type="submit" value="确定">
    <input type="text" name="phone_number" autocomplete="off">
    </form>
  </div>
  <a href="{{ url_for('add_user') }}" class="a-button">新增客户</a>
  <div class="js-menu-screen menu-screen"></div>
{% endblock %}
